# @version $Id: htaccess.txt 5973 2006-12-11 01:26:33Z robs $
# @package Joostina
# @copyright Авторские права (C) 2007 Joostina Team.
# @localized Авторские права (C) 2005 Joom.Ru - Русский дом Joomla!
# @copyright Авторские права (C) 2005 Open Source Matters. Все права защищены.
# @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
# Joomla! - свободное программное обеспечение.
# @translator Sourpuss (Sourpuss@mail.ru)
# @upd doctorgrif (artem.grafov@gmail.com)
##
# PHP directives
# php_flag register_globals Off
	php_value magic_quotes_gpc 1
# Rename session cookie to something else, than PHPSESSID
# php_value session.name sid
# Do not show you are using php
# php_flag expose_php Off
# Level of log detail - log all errors
# php_value error_reporting -1
# Write errors to log file
# php_flag log_errors On
# Do not display errors in browser (production - Off, development - On)
	php_flag display_errors On
# Do not display startup errors (production - Off, development - On)
	php_flag display_startup_errors On
# Format errors in plain text
# php_flag html_errors Off
# Show multiple occurrence of error
# php_flag ignore_repeated_errors Off
# Show same errors from different sources
# php_flag ignore_repeated_source Off
# Size limit for error messages
# php_value log_errors_max_len 1024
# Don't precede error with string (doesn't accept empty string, use whitespace if you need)
# php_value error_prepend_string " "
# Don't prepend to error (doesn't accept empty string, use whitespace if you need)
# php_value error_append_string " "
## Установка кодировки сайта по умолчанию. При необходимости, закомментируйте.
	AddDefaultCharset windows-1251
# Force UTF-8 for a number of file formats
# AddCharset utf-8 .css .js
# Add Proper MIME-Type
	AddType image/x-icon .ico
	AddType application/x-javascript .js
	AddType text/css .css
	AddType text/xml .xml
## Может быть закомментировано, если вызывает ошибку сервера. ##
# Options -MultiViews 
# Options -Indexes
# Options +FollowSymLinks
# DirectoryIndex index.php
# order deny,allow
## Включение mod_rewrite ##
	RewriteEngine On
## Custom error page
# ErrorDocument 404 /404.html
# RewriteBase /
## Стандартный SEF. Используйте эту секцию ТОЛЬКО для работы встроенного SEF.
# ВСЕ (RewriteCond) строки необходимы только если на сервере имеются каталоги с названиями content/ или component/,
# если такие отсутствуют, то закомментируйте эти строки.
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} ^(/component/option,com) [NC,OR] # опционально #
	RewriteCond %{REQUEST_URI} (/|\.htm|\.php|\.html|/[^.]*)$ [NC]
	RewriteRule ^(view/|content/|component/) index.php
## SEF сторонних разработчиков
# RewriteCond %{REQUEST_URI} ^(/component/option,com) [NC,OR] # опционально #
# RewriteCond %{REQUEST_URI} (/|\.htm|\.php|\.html|/[^.]*)$ [NC]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule (.*) index.php
<FilesMatch \.(bmp|png|gif|jpe?g|ico|swf|flv|pdf|tiff)$>
	Header append Cache-Control public
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
</FilesMatch>
<FilesMatch \.(css|js|ico)$>
	Header append Cache-Control private
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
</FilesMatch>
<FilesMatch \.(php|phtml|shtml|html|xml|htm)$>
	ExpiresActive Off
	Header append Cache-Control "no-store, no-cache, must-revalidate, private"
	Header append Pragma "no-cache"
</FilesMatch>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4.0[678] no-gzip
	BrowserMatch bMSIE !no-gzip !gzip-only-text/html