table.adminform {}
.dynamic-tab-pane-control .tab-pane {background-image:none;position:relative;}
.dynamic-tab-pane-control .tab-page {
	background:#fcfcfe;
	float:left;
	margin-left:1px;
	padding:0;
	position:relative;
	text-align:left;
	top:3px;
	width:99%;
	z-index:0;}
.dynamic-tab-pane-control .tab-row {
	background-image:none;
	margin-left:4px !important;
	margin-left:.25em;
	white-space:nowrap;
	z-index:1;}
.dynamic-tab-pane-control .tab-row .tab {
	background-color:#e2e2e2;
	background-image:none;
	border:1px solid white;
	cursor:pointer;
	display:inline;
	float:left;
	font-size:.9em;
	font-weight:normal;
	height:1.5em;
	margin:.25em -1px 1px .125em;
	overflow:hidden;
	padding:.125em .25em 0 .25em;
	position:relative;
	top:0;
	white-space:nowrap;
	width:auto;
	z-index:1;}
.dynamic-tab-pane-control .tab-row .tab .hover {
	background-color:#cbcbcb;
	background-image:none;
	border:1px solid #cdcdcd;
	font-size:.9em;
	font-weight:normal;
	height:1.5em;
	text-decoration:none;
	white-space:nowrap;
	width:auto;}
.dynamic-tab-pane-control .tab-row .tab .selected {
	background:#575757;
	background-image:none !important;
	border:1px solid #575757;
	font-size:.9em;
	font-weight:normal;
	height:1.5em !important;
	top:0;
	white-space:nowrap;
	width:auto !important;
	z-index:3;}
.dynamic-tab-pane-control .tab-row .tab .selected .hover {
	background:#575757;
	background-color:#f5f5f5;
	background-image:none !important;
	border:1px solid #575757;
	font-size:.9em;
	font-weight:normal;
	height:1.5em !important;
	text-decoration:none;
	top:0;
	white-space:nowrap;
	width:auto !important;
	z-index:3;}
.dynamic-tab-pane-control .tab-row .tab a {
	background-image:none;
	color:#000;
	font-size:.9em;
	font-weight:normal;
	white-space:nowrap;
	width:auto;}
.dynamic-tab-pane-control .tab-row .tab a:hover {
	background-image:none;
	font-size:.9em;
	font-weight:normal;
	white-space:nowrap;}
.dynamic-tab-pane-control .tab-row .tab .selected a {
	background-image:none;
	color:#d0e0ff;
	font-size:.9em;
	font-weight:normal;
	height:1.5em;
	white-space:nowrap;}
.dynamic-tab-pane-control .tab-row .tab .selected a:hover {
	background-image:none;
	font-size:.9em;
	font-weight:normal;
	white-space:nowrap;}