* {margin:0;padding:0;}
body {background: #474747 url(../images/bg_pattern.png);}
h1 {
	display:block;
	text-decoration:none;
	font:70px/1.5 Helvetica, Arial, Sans-Serif;
	text-align:center;
	color:#999;
	text-shadow:0px 3px 8px #2a2a2a;}
h2 {font:20px Tahoma, Helvetica, Arial, Sans-Serif;text-align:center;}
button, * html button, input[type="submit"], input[type="button"], input[class="inputbox"], input[type="text"], .footer p {font:14px/1.5 Tahoma, Helvetica, Arial, Sans-Serif;text-align:center;}
.footer p {color:#555;text-shadow:0px 2px 3px #171717;}
a{color:#369;}
a:hover{color:#248;}
::-moz-focus-inner {border:0;}
:-moz-placeholder, ::-webkit-input-placeholder {color:#222;}
.clr {clear:both;}
.sitename, .sitedesc {text-align:center;}
.sitedesc {
	background:#222;
	margin:10px 100px;
	padding:20px;
	color:#555;
	text-shadow:0px 2px 3px #171717;
	-webkit-box-shadow:0px 2px 3px #555;
	-moz-box-shadow:0px 2px 3px #555;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;}
.message {
	font-size:1.2em;
	line-height:1.5;
	margin-top:20px;
	border:none;
	padding:5px 30px;
	background:#fff url(../images/alert.png) no-repeat scroll 15px 50%;
	-moz-background-clip:-moz-initial;
	-moz-background-origin:-moz-initial;
	-moz-background-inline-policy:-moz-initial;
	text-align:center;
	color:red;
	width:auto;}
.ctr1 {padding-top:20px;text-align:center;}
.login {
	width:600px;
	margin:0 auto;
	padding:20px 0;
	font-size:22px;
	color:#555;
	text-shadow:0px 2px 3px #171717;
	-webkit-box-shadow:0px 2px 3px #555;
	-moz-box-shadow:0px 2px 3px #555;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;}
.left-block {float:left;width:50%;}
.right-block {float:right;width:50%;}
.left-block input[class="inputbox"], .right-block input[type="submit"], .right-block input[type="button"] {
	-webkit-appearance:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#ddd url(../images/button.png) repeat-x;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background:-moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border:1px solid;
	border-color:#ddd #bbb #999;
	cursor:pointer;
	color:#222;
	outline:0;
	overflow:visible;
	padding:3px;
	width:auto;}
.left-block label {
	font:25px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align:center;
	color:#555;
	text-shadow:0px 2px 3px #171717;}
.left-block input {text-align:left;}
.right-block input {margin:0;color:#555;}
.right-block input.adminenterlogin {margin:2.5em 0 2.5em 0;}
.right-block input.admingosite {margin-bottom:2.5em 0 0 0;}
.loginForm span.captcha {padding:0 0 0 12px;background:url(../images/refresh.gif) no-repeat 0 2px;}
.footer {
	margin:10px 0;
	padding:10px 0 0 0;
	height:auto;
	width:100%;
	text-align:center;
	position:fixed;
	bottom:0;}