/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated:2010-09-17
Author:Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;}
body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio[controls], canvas, video {
	display:inline-block;
	*display:inline;
	*zoom:1;}
html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;}
body {
	margin:0;
	font-size:16px;
	line-height:1.231;}
body, button, input, select, textarea {
	font-family:sans-serif;
	color:#222;}
a {color:#00e;}
a:visited {color:#551a8b;}
a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;}
a:hover, a:active {outline:0;}
abbr[title] {border-bottom:1px dotted;}
b, strong {font-weight:bold;}
blockquote {margin:1em 40px;}
dfn {font-style:italic;}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;}
ins {
	background:#ff9;
	color:#000;
	text-decoration:none;}
mark {
	background:#ff0;
	color:#000;
	font-style:italic;
	font-weight:bold;}
pre, code, kbd, samp {
	font-family:monospace, monospace;
	_font-family:'courier new', monospace;
	font-size:1em;}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;}
q {quotes:none;}
q:before, q:after {
	content:"";
	content:none;}
small {font-size:85%;}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ul, ol {
	margin:1em 0;
	padding:0 0 0 2em;}
dd {margin:0 0 0 40px;}
nav ul, nav ol {
	list-style:none;
	margin:0;
	padding:0;}
img {
	max-width:100%;
	height:auto;
	border:0;
	-ms-interpolation-mode:bicubic;}
svg:not(:root) {overflow:hidden;}
figure {margin:0;}
form {margin:0;}
fieldset {
	border:0;
	margin:0;
	padding:0;}
legend {
	border:0;
	*margin-left:-7px;
	padding:0;}
label {cursor:pointer;}
button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;}
button, input {
	*overflow:visible;
	line-height:normal;}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding:0;
	border:0;}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;}
textarea {
	overflow:auto;
	vertical-align:top;}
input:valid, textarea:valid {}
input:invalid, textarea:invalid {background-color:#f0dddd;}
input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {-webkit-appearance:none;}
table {
	border-collapse:collapse;
	border-spacing:0;}
.hidden {
	display:none;
	visibility:hidden;}
.clearfix {zoom:1;}
.clearfix:before, .clearfix:after {
	display:table;
	content:"";}
.clearfix:after {clear:both;}