/*normalize.css*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio[controls], canvas, video {display:inline-block;*display:inline;*zoom:1;}
html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;}
body {margin:0;}
body, button, input, select, textarea {font-family:sans-serif;}
img {border:0;-ms-interpolation-mode:bicubic;}
a {color:#00e;}
a:visited {color:#551a8b;}
a:focus {outline:thin dotted;}
a:hover, a:active {outline:0;}
abbr[title] {border-bottom:1px dotted;}
b, strong {font-weight:bold;}
blockquote {margin:1em 40px;}
dfn {font-style:italic;}
mark {background:#ff0;color:#000;}
pre, code, kbd, samp {font-family:monospace, monospace;_font-family:'courier new', monospace;font-size:1em;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q {quotes:none;}
q:before, q:after {content:'';content:none;}
small {font-size:75%;}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ul, ol {margin:1em 0;padding:0 0 0 40px;}
dd {margin:0 0 0 40px;}
nav ul, nav ol {list-style:none;}
figure {margin:0;}
form {margin:0;}
fieldset {margin:0 2px;padding:.35em .625em .75em;}
legend {*margin-left:-7px;}
button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle;}
button, input {line-height:normal;*overflow:visible;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0;}
textarea {overflow:auto;vertical-align:top;}
table {border-collapse:collapse;border-spacing:0;}
th, td {padding:0;text-align:left;vertical-align:middle;}
/*base*/
html {
	background:#fff;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	-webkit-font-smoothing:antialiased;}
*+html .inline-block {display:inline-block;display:inline;display:-moz-inline-stack;}
body {
	background:#fff;
	color:#666;
	font:normal 12px/1.5 sans-serif;
	font-size:76.1%;
	font-weight:400;
	height:100%;
	height:auto !important;
	min-height:100%;
	margin:0 auto;
	padding:auto 0;
	position:relative;
	text-align:left;
	width:100%;
	max-width:107em;
	max-width:1284px;
	min-width:75em;
	min-width:900px;}
/*templ*/
body.joo_flex {
	background:url(../images/bg.jpg) repeat-x top left;
	height:100%;
	height:auto !important;
	min-height:100%;
	position:relative;
	text-align:center;
	width:100%;}
.main_wrap {
	background:url(../images/header_left.png) no-repeat top left;
	overflow:hidden;
	padding:0;
	position:relative;
	width:100%;}
.wrapper {
	margin:0 auto;
	position:relative;
	text-align:left;
	width:100%;}
.header {
	background:url(../images/right_header.jpg) no-repeat 75% 0;
	height:165px;
	position:relative;
	text-align:center;
	width:100%;}
#logo, a#logo {
	background:url(../images/logo.png) no-repeat top left;
	cursor:pointer;
	display:block;
	height:112px;
	left:0;
	position:absolute;
	text-decoration:none;
	top:10px;
	width:147px;}
#logo h1 {display:none;}
.header_center {
	height:110px;
	margin:0 auto;
	padding:24px 0 0 0;
	width:60%;}
.jtd_nowrap {
	background:url(../images/topmenu_bg.png) repeat-x center;
	height:41px;
	width:auto;
	margin:0;
	padding:0;
	text-align:center;}
.header_right {
	position:absolute;
	right:0;
	top:10px;
	width:150px;}
.col {float:left;width:25%;}
.content {
	float:right;
	margin:0;
	padding:0;
	width:73%;}
.footer {
	background:url(../images/footer_bg.jpg) repeat-x bottom left;
	bottom:0;
	position:relative;
	width:100%;}
.bottom {
	border-top:2px solid #d2d6bf;
	height:40px;
	line-height:1;
	margin:0 auto;
	padding:12px 0;
	width:100%;}
.valid {
	width:120px;
	min-height:40px;
	border:0;
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	vertical-align:top;
	margin:5px;
	_height:40px;
	float:right;}
/*blocks*/
.block_w1, .block_w2, .block_w3 {
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	float:left;
	margin:0 0 10px 0;
	position:relative;}
.block1 {width:100%;}
.block_w2 {width:49%;margin:0 5px 0 0;}
.block_w3 {width:32%;}
.block_w3 .w25 {width:25%;}
.block_w3 .w35 {width:35%;}
.block_w2 .w25 {width:25%;}
.block_w2 .w35 {width:70%;}
.block_w1 .w25, .block_w1 .w35 {width:95%;}
.block1 .moduletable {padding:5px 10px 5px 2px;}
.block2 .moduletable {margin:0 10px 0 0;padding:5px 10px 5px 2px;width:100%;}
.block_w2 img {margin:0;padding:0;}
.block3 {
	background:url(../images/block3_bg_top.jpg) repeat-x top left;
	clear:both;
	overflow:hidden;
	padding:3px 10px 15px 0;
	width:100%;}
.block3_bottom {
	background:url(../images/block3_bg_bottom.jpg) repeat-x bottom left;
	overflow:hidden;
	padding:0 0 0 10px;
	width:100%;}
.block3 .moduletable {margin:0 10px 0 0;padding:5px 5px 5px 2px;}
/*modules*/
.moduletable {margin:2px 0 25px 0;padding:0 0 10px 0;}
.moduletable-round {
	background:#eaecde;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:15px 20px;}
.moduletable-round ul, .moduletable-round li {list-style:none;margin:2px 0;padding:0;}
.moduletable-round a {
	border-bottom:1px dashed #00e;
	display:block;
	font-size:1em;
	font-weight:bold;
	padding:1px 5px;
	text-decoration:none;}
.moduletable-round a:hover, .moduletable-round a#active_menu {background:#dee0d3;}
/*text*/
/*titles*/
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl {margin:1em;padding:0;}
h1, h2, h3, h4, h5, h6 {
	font:normal 18px Verdana, Arial, Sans-Serif;
	line-height:1.3em;
	margin-bottom:.3em;
	color:#333;}
h1 {font-size:1.6em;line-height:1.5;margin:0;}
h2 {
	font-size:1.5em;
	line-height:1.5;
	margin:0 0 10px 0;
	padding:0;}
h3 {
	font-size:1.4em;
	line-height:1.5;
	margin:0;
	padding:0;}
h4 {
	font-size:1.3em;
	line-height:1.5;
	margin:1em 0;
	padding:0;}
h5 {
	font-size:1.2em;
	line-height:1.5;
	margin:1em 0;
	padding:0;}
h6 {
	font-size:1.1em;
	line-height:1.5;
	margin:1em 0;
	padding:0;}
/*links*/
a {border:0;}
a, a:link, a:active {color:#007ac2;}
a:visited {color:#551a8b;}
a:hover, a:focus {color:#00adef!important}
a:focus {outline:thin dotted;}
a:active {background:inherit;}
/*links extr*/
a[href^="http:"], a[class~="external"], a[rel~="nofollow"], a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href^="aim:"], a[class~="popup"], a[href$=".avi"], a[href$=".flv"], a[href$=".mp3"], a[href$=".ogg"] {
	background: no-repeat right center;
	padding:2px 0 2px 0;
	margin:-2px 0;
	vertical-align:baseline;}
a[href^="http:"], a[class~="external"]:after, a[rel~="nofollow"]:after {background:url(../images/typo/external.gif) no-repeat right center;padding:0 20px 0 0;}
a[href$=".pdf"] {background:url(../images/typo/pdf.gif);}
a[href$=".doc"] {background:url(../images/typo/doc.gif);}
a[href$=".xls"] {background:url(../images/typo/xls.gif);}
a[href$=".avi"], a[href$=".flv"] {background:url(../images/typo/video.png);}
a[href$=".mp3"], a[href$=".ogg"] {background:url(../images/typo/music.png);}
a[href$=".rss"] {background:url(../images/typo/rss.gif);}
a[href^="aim:"] {background:url(../images/typo/aim.gif);}
a[href$=".torrent"] {background:url(../images/typo/torrent.gif);}
a[href^="ed2k:"] {background:url(../images/typo/ed2k.gif);}
a[class~="popup"] {background:url(../images/typo/popup.gif);}
/*paragraph, tabel, list*/
p, div, td, tr {color:#666;font:normal 1em/1.5 'helvetica neue', helvetica, arial;text-align:left;}
p {margin:0 0 1.5em 0;padding:0 1em 0 0;}
ul, ol li {list-style:decimal outside;}
ul li {list-style:disc outside;}
li {list-style:decimal outside;margin:0 0 0 1.5em;padding:0;}
li > p {margin:.2em 0 0 0;}
dl {margin:0;padding:0;}
dt {
	border-bottom:1px solid #bcbcbc;
	font-size:1.1em;
	line-height:1.5;
	margin:0 0 10px 0;
	padding:0 0 2px 0;}
dd {
	font-size:1em;
	line-height:1.3;
	margin:0;
	padding:0;}
table {border:0;padding:0;width:100%;}
td, tr {margin:1em 0;padding:0;vertical-align:top;}
td img {vertical-align:top;} 
th {font-weight:bold;text-align:center;}
table th {background:#eaecde;font-weight:bold;padding:4px;}
table td {padding:0;}
/*quote*/
blockquote {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	float:left;
	margin:1em 2em 1em 1em;
	padding-top:1.5em;
	position:relative;
	quotes:'\201C''\201D''\2018''\2019''\00AB''\00BB''\0300''\0301';}
blockquote p {
	font:italic 1.1em/1.3 'palatino', georgia, 'times new roman', serif;
	margin:0 0 .8em 0;
	text-indent:-.6em;
	width:14em;}
cite {border-bottom:1px dashed #aaa;font:normal 1em/1.3 'palatino', georgia, 'times new roman', serif;text-align:right;}
cite a {text-decoration:none;}
q:before, q q:before, blockquote q:before {content:'\00AB';}
q:after, q q:after, blockquote q:after {content:'\00BB';}
q:before, q q:before, blockquote q:before {content:'\201D';}
q:after, q q:after, blockquote q:after {content:'\201C';}
q:before, q q:before, blockquote q:before {content:'\0300';}
q:after, q q:after, blockquote q:after {content:'\0301';}
q:before, q q:before, blockquote q:before {content:'\2018';}
q:after, q q:after, blockquote q:after {content:'\2019';}
blockquote p:before, blockquote p:after {content:' ';font-size:1.2em;vertical-align:middle;}
/*images*/
img {margin:0;padding:2px;vertical-align:bottom;}
a img {border:0;margin:0;padding:0;}
/*inputs, selects, textareas, label, fieldset, option, optgroup*/
.input_tiny {width:50px;}
.input_small {width:100px;}
.input_medium {width:150px;}
.input_large {width:200px;}
.input_xlarge {width:250px;}
.input_xxlarge {width:300px;}
.input_full {width:100%;}
input[type="search"]::-webkit-search-decoration {display:none;}
input, button, select, textarea {-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;}
button {padding-top:1px;padding-bottom:1px;}
button, input[type="reset"], input[type="submit"], input[type="button"] {
	-webkit-appearance:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#ddd url(../images/button.png) repeat-x;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background:-moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border:1px solid;
	border-color:#ddd #bbb #999;
	cursor:pointer;
	color:#333;
	outline:0;
	padding:3px 10px 4px;
	padding:2px 0;
	text-shadow:#fff 0 1px 1px;
	width:auto;}
button[disabled], input[type="reset"][disabled], input[type="submit"][disabled], input[type="button"][disabled] {color:#888;}
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	-webkit-appearance:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#fff;
	border:1px solid;
	border-color:#848484 #c1c1c1 #e1e1e1;
	color:#000;
	outline:0;
	padding:2px 3px;
	padding-top:2px;
	padding-bottom:1px;
	height:auto;
	font:normal 1em/1.5 serif;
	height:auto;}
input.placeholder_text, textarea.placeholder_text, input:-moz-placeholder, textarea:-moz-placeholder {color:#888;}
::-webkit-input-placeholder {color:#888;}
textarea[disabled], select[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] {background-color:#eee;color:#888;}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
	-moz-box-shadow:#06f 0 0 7px;
	-webkit-box-shadow:#06f 0 0 7px;
	box-shadow:#06f 0 0 7px;
	z-index:1;}
input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.is_webkit select {
	background: url(../images/select_arrow.gif) no-repeat right center;
	padding-right:20px;}
textarea, select[multiple] {height:auto;}
select[multiple], .is_webkit select[multiple] {background-image:none;padding:0;}
textarea {min-height:40px;resize:vertical;width:100%;}
optgroup {color:#000;font-style:normal;font-weight:normal;}
fieldset {border:0;}
/*IE6*/
/*
Everything below this line is for IE6. Delete it if you don't support it! Classes are added dynamically via JS, because IE6 doesn't support attribute selectors:.ie6_button, .ie6_input, etc. Note:These style rules are somewhat duplicated because IE6 bombs out when it sees attribute selectors.
Example:
.ie6_button{This works in IE6.}
.ie6_button, input[type=submit]{This doesn't work.}
*/
.ie6_button, * html button {
	background:#ddd url(../images/button.png) repeat-x;
	border:1px solid;
	border-color:#ddd #bbb #999;
	cursor:pointer;
	color:#333;
	font:bold 1em/1.5 serif;
	padding:2px 10px 0;
	overflow:visible;
	width:auto;}
* html button {padding-top:1px;padding-bottom:1px;}
.ie6_input, * html textarea, * html select {
	background:#fff;
	border:1px solid;
	border-color:#848484 #c1c1c1 #e1e1e1;
	color:#000;
	padding:2px 3px 1px;
	font:normal 1em/1.5 serif;
	vertical-align:top;}
* html select {margin-top:1px;}
.placeholder_text, .ie6_input_disabled, .ie6_button_disabled {color:#888;}
.input_full_wrap {display:block;padding-right:8px;}
.ie6_input_disabled {background:#eee;}
/*misc*/
.tooltip {text-decoration:none;color:#333}
.nodisplay {display:none;}
.no-print {display:none;}
.page-break {display:none;page-break-before:always;}
.longurl {
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	font:.75em/1.5 'andale mono', 'lucida console', monospace;
	overflow-x:auto;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap !important;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	width:400px;
	word-wrap:break-word;
	_white-space:pre;}
.strong {font-weight:bold;}
span {font-style:normal;}
abbr, acronym {cursor:help;font-style:italic;font-weight:400;}
hr, hr.separator {
	background:red;
	border:0;
	color:red;
	display:block;
	height:1px;
	margin:0 !important;
	margin:-4px 0 -10px 0;}
*+html hr, *+html hr.separator {
	background:red;
	border:0;
	color:red;
	display:block;
	height:1px;
	margin:0 !important;
	margin:-4px 0 -10px 0;}
em {font-style:italic;}
dfn {font-weight:600;}
caption {margin:0 0 .5em 0;text-align:center;}
strike {text-decoration:line-through;}
address {font-style:italic;margin:0 0 1.5em;}
del {color:#666;}
pre {
	padding:15px;
	white-space:-moz-pre-wrap;
	white-space:-hp-pre-wrap;
	white-space:-o-pre-wrap;
	white-space:-pre-wrap;
	white-space:pre-line;}
code {
	display:block;
	margin:0;
	padding:2px 2px 4px 26px;
	text-align:left;
	width:100%;}
.diff pre {white-space:pre-line !important;}
.diff th {white-space:nowrap !important;}
pre code {display:block;padding:.5em;background:#f0f0f0;}
pre code, pre .ruby .subst, pre .tag .title, pre .lisp .title {color:#000;}
pre .string, pre .title, pre .constant, pre .parent, pre .tag .value, pre .rules .value, pre .rules .value .number, pre .preprocessor, pre .ruby .symbol, pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods, pre .instancevar, pre .aggregate, pre .template_tag, pre .django .variable, pre .smalltalk .class, pre .addition, pre .flow, pre .stream, pre .bash .variable, pre .apache .tag, pre .apache .cbracket, pre .tex .command, pre .tex .special {color:#800;}
pre .comment, pre .annotation, pre .template_comment, pre .diff .header, pre .chunk {color:#888;}
pre .number, pre .date, pre .regexp, pre .literal, pre .smalltalk .symbol, pre .smalltalk .char, pre .change {color:#080;}
pre .label, pre .javadoc, pre .ruby .string, pre .decorator, pre .filter .argument, pre .localvars, pre .array, pre .attr_selector, pre .important, pre .pseudo, pre .pi, pre .doctype, pre .deletion, pre .envvar, pre .shebang, pre .apache .sqbracket, pre .nginx .built_in, pre .tex .formula {color:#88f;}
pre .javadoctag, pre .phpdoc, pre .yardoctag, pre .keyword, pre .id, pre .phpdoc, pre .title, pre .built_in, pre .aggregate, pre .smalltalk .class, pre .winutils, pre .bash .variable, pre .apache .tag, pre .tex .command {font-weight:700;}
pre .nginx .built_in {font-weight:400;}
pre .html .css, pre .html .javascript, pre .html .vbscript, pre .tex .formula {opacity:0.5;}
/*clear, clearfix*/
.cf {display:inline-block;display:inline;display:-moz-inline-stack;}
* html .cf {height:1%;}
.cf {display:block;}
.cf:after {
	clear:both;
	content:". ";
	display:block;
	height:0;
	visibility:hidden;}
.cf, div.cf {clear:both;}
/*Joostina*/
/*titles*/
.componentheading, .contentheading, .contentpagetitle, .sectiontableheader, .newsfeedheading, .moduletable th {margin:1em 0;padding:0;}
.componentheading, .contentheading, .contentpagetitle, .moduletable h3 {font:normal 18px/1.3 Verdana, Arial;margin-bottom:0.3em;color:#333;}
.componentheading {color:#4b8ec2;font-size:1.6em;margin:0;}
.contentheading, .contentpagetitle {font-size:1.5em;margin:0;}
div.contentheading {float:left;width:80%;}
a.contentpagetitle h2 {font:normal 26px Verdana, Arial;}
a.contentpagetitle h2, a:link.contentpagetitle h2, a:active.contentpagetitle h2 {border:0;color:#007ac2;}
a:visited.contentpagetitle h2 {color:#551a8b;}
a:hover.contentpagetitle h2, a:focus.contentpagetitle h2 {color:#00adef!important}
a:focus.contentpagetitle h2 {outline:thin dotted;}
a:active.contentpagetitle h2 {background:inherit;}
.moduletable th {font-size:1.4em;line-height:1.5;margin:0;}
/*nav*/
.pagenav_line {margin:1em 0;padding:0;}
.pagenav_line ul {
	margin:0;
	padding:0;
	text-align:center;
	width:100%;}
li.pagenav_next, li.pagenav_prev, li.pagenav_current, li.pagenav_no_current {
	background:none;
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	list-style-type:none;
	background:#fff;
	font-size:1em;
	font-weight:normal;}
li.pagenav_next {margin:0 0 0 .5em;padding:0 .5em 0 0;}
li.pagenav_prev {margin:0 .5em 0 0;padding:0 0 0 .5em;}
li.pagenav_current {margin:0 .5em 0 0;padding:0 0 0 .5em;font-weight:bold;}
li.pagenav_no_current {margin:0 .5em 0 0;padding:0 0 0 .5em;}
span.pagenav_txt {font-size:1em;color:#bbb;margin-bottom:10px;}
li.pagenav_next a, li.pagenav_prev a {font-size:1em;}
.pagetotal {
	color:#bbb;
	font-size:1em;
	font-weight:normal;
	text-align:center;}
/*pathway*/
#pathway {height:2.3em;border:0;}
#pathway img {border:0;vertical-align:middle;}
.pathway {
	font-size:1em;
	line-height:1.5;
	margin:0;
	padding:0 15px 0 0;}
/*taxonomy*/
.post_taxonomy {
	padding-bottom:8px;
	position:relative;
	overflow:hidden;
	top:-1px;}
.post_taxonomy ul {
	font-size:1em;
	font-style:italic;
	float:left;
	margin:0;}
.post_taxonomy ul li {
	display:inline;
	padding:1px 0;
	margin:0;
	background:none;}
.post_taxonomy ul li span {padding:1px 4px;}
.post_taxonomy ul li a {text-decoration:none !important;}
.post_meta {
	padding:1px 0;
	margin:.5em 0;
	float:left;
	width:100%;
	border:none;}
.post_meta a:link, .post_meta a:visited {text-decoration:none !important;}
.post_meta img {float:left;padding:3px 3px 0 0;margin:0;}
.post_meta p {
	font-size:.9em;
	line-height:1.2;
	color:#555;
	font-style:italic;
	padding:0;
	margin:0 0 0 30px;}
.post_url {
	font-size:1em;
	padding:1px 4px;
	float:left;
	font-style:italic;}
.post_url a:link, .post_url a:visited {}
.mobileshow, .mobilehide, a.mobileshow, a.mobilehide {display:none;}
/*link*/
.readon {margin:.5em 0;padding:0;float:right;}
input [name="readon"] {text-align:center;}
/*button*/
.back_but {margin:1em 0;padding:0;}
input [name="back_button"] {text-align:center;}
/*titles*/
.col h3 {color:#d43015;}
.block1 h3 {color:#4b8ec2;font-size:1.8em;line-height:1.5;}
.block2 h3, .block3 h3 {font-size:1.5em;line-height:1.5;}
.block2 h3 {
	background:url(../images/listok.jpg) no-repeat 10px 5px #f3f4ee;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	color:#4c8ec0;
	padding:5px 2px 5px 52px;}
.block3 h3 {color:#626262;padding:0 0 10px 0;}
/*ext*/
.red {color:red;}
.green {color:green;}
.black {color:black;}
.articlesep {
	border:1px dashed #fa0;
	border:0;
	height:1px;
	display:block;
	margin:1em 0;
	padding:0;}
/*markers lists*/
li.red {
	background:url(../images/typo/red_butt.jpg) no-repeat top left;
	list-style:none;
	margin:0 0 6px 0;
	padding:0 0 0 20px;
	position:relative;}
li.yellow {
	background:url(../images/typo/yellow_butt.jpg) no-repeat top left;
	list-style:none;
	margin:0 0 6px 0;
	padding:0 0 0 20px;
	position:relative;}
li.blue {
	background:url(../images/typo/blue_but.jpg) no-repeat top left;
	list-style:none;
	margin:0 0 6px 0;
	padding:0 0 0 20px;
	position:relative;}
li.dash {
	background:url(../images/typo/li_dash.gif) no-repeat 0 9px;
	list-style:none;
	margin:0 0 0 -10px;
	padding:0 0 0 28px;
	position:relative;}
.marker_round, .marker_round li {list-style:none;margin:0;padding:0;}
.marker_round {margin:10px 0 20px 0;}
.marker_round li {font-size:1em;line-height:1.5;overflow:hidden;}
.marker_round strong {
	background:url(../images/typo/ol_big.jpg) no-repeat top left;
	color:#fff;
	display:inline;
	float:left;
	font-weight:bold;
	height:39px;
	line-height:2.7;
	margin:4px auto;
	margin-right:10px;
	position:relative;
	text-align:center;
	width:36px;}
.count, .count li {list-style:none;margin:0;padding:0;}
.count {margin:0;}
li.li1 {
	background:url(../images/typo/li1.png) no-repeat center left;
	float:left;
	list-style:none;
	margin:0 0 10px 0;
	padding:0 0 0 40px;}
li.li2 {
	background:url(../images/typo/li2.png) no-repeat center left;
	float:left;
	list-style:none;
	margin:0 0 10px 0;
	padding:0 0 0 40px;}
li.li3 {
	background:url(../images/typo/li3.png) no-repeat center left;
	float:left;
	list-style:none;
	margin:0 0 10px 0;
	padding:0 0 0 40px;}
li.li4 {
	background:url(../images/typo/li4.png) no-repeat center left;
	float:left;
	list-style:none;
	margin:0 0 10px 0;
	padding:0 0 0 40px;}
li.li5 {
	background:url(../images/typo/li5.png) no-repeat center left;
	float:left;
	list-style:none;
	margin:0 0 10px 0;
	padding:0 0 0 40px;}
a.readmore_big {
	display:block;
	font-size:1.5em;
	width:195px;
	margin: 0 0 20px;}
li.bigred {
	background:url(../images/typo/big_marker.png) no-repeat top left;
	list-style:none;
	margin:0 0 6px 0;
	padding:0 0 0 40px;}
/*links*/
.block3_bottom a[href^="http:"], .block3_bottom a[class~="external"]:after, .block3_bottom a[rel~="nofollow"]:after {background:none;margin:0;padding:0;}
a[href^="http://joostina"] {background:none;margin:0;padding:0;}
a[href^="http://www.joostina.ru"], a[href^="googlecode.com"], a[href^="http://code.google.com/"], a[class~="mainlevel"], a[class~="ps"], a tablle[class~="banners"], a[class~="sociable"], a[class~="dmodversion"], a[class~="openidimg"] {background:none;margin:0;padding:0;}
a#about {
	background:url(../images/about.jpg) no-repeat top left;
	cursor:pointer;
	display:block;
	float:left;
	height:36px;
	margin:0 0 0 1em;
	text-decoration:none;
	width:143px;}
a#rss {background:url(../images/rss_small.png) no-repeat center;}
/*mosimg*/
.mosimage, .mosimage img {
	border:0;
	margin:0;
	padding:2px;
	vertical-align:bottom;}
a.mosimage img {border:0;margin:0;padding:0;}
/*img caption*/
.caption {position:relative;}
.caption span {
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.7);
	bottom:0;
	display:block;
	font:normal .9em/1.5 'palatino', georgia, 'times new roman', serif;
	font-weight:400;
	padding:3px 8px;
	position:absolute;
	right:0;
	text-shadow:0 1px 0 #e5e5ee; 
	filter:dropshadow(color=#e5e5ee,offX=0,offY=1);}
/*validate*/
a#w3ccss {
	background:url(../images/w3c_css.gif) no-repeat top left;
	cursor:pointer;
	display:block;
	float:left;
	height:15px;
	margin:0 0 0 1em;
	padding:0;
	text-decoration:none;
	width:42px;}
a#w3cxhtml {
	background:url(../images/w3c_xhtml.gif) no-repeat top left;
	cursor:pointer;
	display:block;
	float:left;
	height:15px;
	margin:0 0 0 1em;
	padding:0;
	text-decoration:none;
	width:43px;}
/*menu*/
/*top*/
.top_menu {
	background:url(../images/topmenu_bg.png) repeat-x center;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:0 0;
	border-bottom-right-radius:0 0;
	height:41px;
	margin:15px 0 0 0;
	padding:0;
	text-align:center;}
/*menu clear*/
#mainlevel ul, #mainlevel li, #mainlevel-nav ul, #mainlevel-nav li {list-style:none;margin:0;padding:0;}
/*menu on*/
#mainlevel-nav ul {
	height:41px;
	margin:0;
	padding:0;
	text-align:center;}
#mainlevel-nav ul, #mainlevel-nav li {
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;}
#mainlevel-nav li a {
	font-size:1.6em;
	line-height:1.5;
	margin:0;
	padding:5px 5px 0 5px;
	position:relative;}
#mainlevel-nav li #active_menu-nav a {text-decoration:none;}
#mainlevel-nav li a:hover {color:#ddebf3;}
#mainlevel-nav li a:visited {color:#363636}
/*navbar*/
a.navbar {
	display:block;
	float:left;
	height:50px;
	text-decoration:none;
	width:45px;}
a.navbar#home {background:url(../images/buttons/home.jpg) no-repeat center;}
a.navbar#mail {background:url(../images/buttons/mail.jpg) no-repeat center;}
a.navbar#map {background:url(../images/buttons/map.jpg) no-repeat center;}
/*user menu*/
.moduletable_menu {margin:0;padding:0 0 10px 0;}
.moduletable_menu h3 {
	font-size:1.6em;
	padding:0;
	margin:0;
	text-align:left;}
.menulist_menu {
	font-size:1em;
	line-height:1.5;
	margin:1em 0 1em 1em;
	width:100%;}
.menulist_menu ul {
	float:left;
	margin:1em 0 0 1em;
	position:relative;
	padding:0;}
.menulist_menu li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:.5em 0;
	padding-left:1em;
	position:relative;}
/*footer*/
.footer ul.menulist-bottom {
	float:left;
	margin:0 0 0 20%;
	position:relative;
	text-align:center;}
.footer .menulist-bottom li {
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	list-style-type:none;
	height:32px;
	line-height:1;
	margin:0 9px 0 0;}
.footer .menulist-bottom a {font-size:1.2em;}
/*components*/
/*com_content*/
.category {margin:0;padding:0;}
/* ToDo: сделать*/
.introtext .left img, .introtext .mosimage .left img {display:inline;margin-right:1em;}
.introtext .right img, .introtext .mosimage .right img {display:inline;margin-left:1em;}
.fulltext {}
.fulltext .left img, .fulltext .mosimage .left img {display:inline;margin-right:1em;}
.fulltext .right img, .fulltext .mosimage .right img {display:inline;margin-left:1em;}
.notetext {}
.blog_more {margin:1em 0;padding:0;}
.blog_more ul {margin:0;padding:1em 0 0 1em;}
.blog_more li {margin:0;padding:0 0 5px 0;}
.blogsection {margin:0;padding:0;}
.blogsection ul {margin:0;padding:0;}
.blogsection li {margin:0;padding:0 0 5px 0;}
.contentpane {margin:0;padding:0;}
.blog {margin:0;padding:0;}
.contentpaneopen, .contentpaneopen tabel, .contentpaneopen tr, .contentpaneopen td {margin:0;padding:0;}
.blog .contentpaneopen tabel, .blog .contentpaneopen tr {margin:0;padding:0;}
.blog .contentpaneopen td {margin:0;padding:0 10px 0 0;}
.print_but {vertical-align:middle;margin-top:30px;margin-bottom:30px;}
img#email, img#print, img#pdf, img#edit {border:0;vertical-align:baseline;}
.contentdescription {
	background:#f4f9fe;
	border:1px solid #e5eff8;
	clear:both;
	overflow:hidden;
	padding:10px;}
.contentdescription img {border:1px solid #678197;margin:0 10px 0 0;}
.sectiontableheader {
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	font-weight:normal;
	color:#678197;
	padding:.3em 1em;
	text-align:left;}
td.sectiontableheader {
	background:#f4f9fe;
	color:#66a3d3;
	font-size:1.2em;
	line-height:2;
	font-weight:bold;
	padding:5px 2px;
	text-align:center;}
.sectiontableentry1 td {background:#fff;}
.sectiontableentry2 td {background:#f4f9fe;}
.sectiontableentry1 td, .sectiontableentry2 td {margin:0;padding:5px 0;}
td.td-state, td.td-date, td.td-articles, td.td-author {text-align:left;}
td.td-hits {text-align:center;}
.edit_table_icons {margin:0;padding:0;}
.edit_table_icons li {list-style:none;}
img.img-mini-state {vertical-align:middle;}
.title_line {height:auto;width:100%;}
.buttonheading {
	float:right;
	padding:-1em 0 0 0;
	margin:1em 0 0 0;
	width:20%;}
.buttonheading ul {display:inline;margin:0;padding:0;}
.buttonheading ul li {
	display:inline;
	padding:0;
	margin:0;
	background:none;}
.buttonheading ul li a {text-decoration:none !important;}
/*com_contact*/
#contact form {margin-bottom:1em;}
#contact form div {margin-bottom:1em}
#contact label {font-size:1.2em;font-style:normal;font-weight:bold;}
.contact {}
.contact ul {}
.contact ul li {
	width:100%;
	overflow:hidden;
	margin:0;
	list-style:none;}
.contact ul li span.contact-type {width:10%;float:left;}
.contact ul li span.contact-item {width:90%;float:left;}
.contact-img {float:right;margin-right:100px;}
.contact-img p {
	font-size:1.1em;
	font-style:normal;
	font-weight:bold;
	text-align:center;}
#contact fieldset {border:1px solid #ccc;padding:0 1em 1em 1em;margin:1.6em 0;}
#contact legend {
	padding:0;
	font-size:1.29em;
	font-style:normal;
	font-weight:bold;}
#contact legend+* {margin-top:0;}
/*com_search*/
#search label {font-size:1.2em;font-style:normal;font-weight:bold;}
.searchintro {font-weight:normal;width:100%;}
span.searchword {border-bottom:1px dashed #e5eff8;color:#678197;padding:3px;}
span.highlight {
	background-color:#f4f9fe;
	color:#678197;
	margin:5px 0;
	padding:2px;}
label.limitstar {font-size:1.2em;font-style:normal;font-weight:bold;}
.searchresult dt {margin:0}
.searchresult dt h6 {font-style:normal;margin:0;padding:0;}
.searchresult dt p.section {
	font-style:italic;
	font-size:.9em;
	margin:0;
	padding:0;}
.searchresult dd {margin:1em 0 0 2.29em;padding:0;}
.searchresult dd p {font-size:1em;margin:0;padding:0;}
.searchresult dd p span.number {
	font-size:1em;
	font-weight:bold;
	margin:0;
	padding:0;}
.searchresult dd p.created {
	font-style:italic;
	font-size:.9em;
	margin:0;
	padding:0;}
/*com_user*/
img#userav {margin:10px auto;}
#table_userprofile label {font-size:1.2em;font-style:normal;font-weight:bold;}
/*com_registration*/
#registration label, #lost-password label {font-size:1.2em;font-style:normal;font-weight:bold;}
#captchaimg {border:0;margin:0;padding:0 10px 0 0;}
/*com_login*/
#login form {margin:0 0 1em 0;}
#login form div {margin:0 0 1em 0;}
#login label {font-size:1.2em;font-style:normal;font-weight:normal;}
#login input.ml_login_button {margin:1em 0;}
/*com_xmap*/
.xmap {}
.xmap ul, .xmap li {
	display:block;
	font-size:1em;
	line-height:1.2;
	list-style:none;
	white-space:pre-wrap;}
.xmap ul.level0, .xmap .level0 li, .xmap .level0 li a , .xmap ul.level1, .xmap .level1 li, .xmap .level1 li a, .xmap ul.level2, .xmap .level2 li, .xmap .level2 li a{margin:0;padding:0;}
.xmap li {margin:0 0 1em 0;padding:0;}
.xmap .level0 li,.xmap .level1 li,.xmap .level2 li {margin:0 0 0 1em;padding:0;white-space:pre-wrap;}
.xmap ul.level0 li:last-child, .xmap ul.level1 li:last-child, .xmap ul.level2 li:last-child {margin-bottom:0;}
/*com_weblinks*/
span.deskweblinks {font-style:italic;}
.weblinks {width:auto;}
.weblinks ul {margin:0;padding:0;width:100%;}
.weblinks li {
	font-size:1.1em;
	margin:0;
	padding:0 0 5px 0;
	width:100%;}
.weblinks a {border-bottom:1px dashed #00e;font-style:italic;text-decoration:none;}
li.weblinks {font-style:italic;text-decoration:none;}
/*com_newsfeeds*/
.newsfeeds {width:auto;}
.newsfeeds ul {margin:0;padding:0;width:100%;}
.newsfeeds li {
	font-size:1.1em;
	margin:0;
	padding:0 0 5px 0;
	width:100%;}
.newsfeeds a {border-bottom:1px dashed #00e;font-style:italic;text-decoration:none;}
li.newsfeeds {font-style:italic;text-decoration:none;}
/*com_poll*/
.quest {background:url(../images/typo/blue_arrow.png) no-repeat left;padding:2px 0 2px 30px;vertical-align:middle;}
table.poll {width:100%;}
.poll th.question, .poll th.hits, .poll th.percent, .poll th.graph {font-size:1.1em;line-height:1.5;text-align:center;}
.poll th.question {width:35%;}
.poll th.hits, .poll th.percent {width:7%;}
.poll td {font-size:1em;line-height:2;padding:4px;}
.poll td.hits, .poll td.percent {text-align:center;}
.graph img {margin:9px 0 0 0;}
.pollscolor1 {background:#8d1b1b;border:2px ridge #b22222;}
.pollscolor2 {background:#6740e1;border:2px ridge #4169e1;}
.pollscolor3 {background:#8d8d8d;border:2px ridge #d2d2d2;}
.pollscolor4 {background:#cc8500;border:2px ridge #ffa500;}
.pollscolor5 {background:#5b781e;border:2px ridge #6b8e23;}
/*com_wrapper*/
.com_wrapper {overflow:auto;}
/*modules*/
.moduletable {margin:2px 0 25px 0;padding:0 0 10px 0;}
.moduletable-round {background:#eaecde;padding:15px 20px;}
.moduletable-round ul, .moduletable-round li {list-style:none;margin:2px 0;padding:0;}
.moduletable-round a {
	border-bottom:1px dashed #00e;
	display:block;
	font-size:1em;
	font-weight:bold;
	padding:1px 5px;
	text-decoration:none;}
.moduletable-round a:hover, .moduletable-round a#active_menu {background:#dee0d3;}
/*mod_ml_login*/
#log_in {
	background:url(../images/buttons/log_in.png) no-repeat center;
	border:0;
	clear:both;
	cursor:pointer;
	color:#fff;
	float:left;
	font-size:1.7em;
	height:52px;
	line-height:2.5;
	margin:0 auto 25px auto;
	padding:0 10px;
	text-align:center;
	width:135px;}
#box1 {position:absolute;z-index:999;}
.loginformarea {
	border:3px solid #5d5d5d;
	background:#fff;
	-moz-box-shadow:0 0 8px #444;
	-webkit-box-shadow:0 0 8px #444;
	display:none;
	margin:15px 0 0 0;
	margin:0 -90px 0 0;
	padding:8px;
	position:absolute;
	right:10px;
	left:-450px;
	top:0;
	width:420px;
	z-index:9999;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:10px 10px 10px #000;
	box-shadow:10px 10px 10px #000;}
.authtitle {
	font-size:1.7em;
	line-height:1.5;
	margin:0;
	padding:0;}
.loginformareainside {
	background:#fff;
	border:0;
	clear:both;
	padding:15px;
	text-align:left;
	-moz-box-shadow:0 0 8px #444;
	-webkit-box-shadow:0 0 8px #444;}
.closewin {
	background:url(../images/cross.png) no-repeat center;
	cursor:pointer;
	display:block;
	height:20px;
	margin:0;
	padding:0;
	position:absolute;
	right:15px;
	top:0;
	width:20px;
	z-index:4000;}
.mllogininfo, .mllogininfo a {
	font-size:1em;
	font-style:normal;
	margin:0;
	padding:0;}
.modavatar {margin:0;padding:0;}
.modavatar p {font-weight:400;}
.modavatar span {}
#modavatarimg {margin:0;padding:0;}
#modavatarimg img {border:0;margin:0 auto;padding:0;}
img#modavatarimg {float:right;}
.loginform, .loginleft, .loginright {background:#fff;}
.loginform {
	border:0;
	-moz-box-shadow:0 0 8px #444;
	-webkit-box-shadow:0 0 8px #444;
	width:100%;}
.loginleft {float:left;width:50%;}
.loginright {float:right;width:50%;}
.loginleft label, .loginright label {font-size:1.2em;font-style:normal;font-weight:bold;}
#logout_button {}
/*mod_search*/
.search {
	background:url(../images/typo/search.gif) no-repeat center left;
	margin:0 auto;
	padding:0 0 0 20px;
	width:410px;}
input[type='text'].search-text {width:310px;}
input[type='text'].search-text {
	background:#fff;
	border:1px solid #8f8f8f;
	font-size:1em;
	height:2em;
	line-height:1;
	padding:0 0 0 1.5em;}
.search-button {width:70px;}
input[type='submit'].search-button {
	background:transparent !important;
	border:0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#8f8f8f;
	font-size:1em;
	font-weight:600;
	height:26px;
	margin:0;
	padding:0 1em;
	text-transform:uppercase;}
/*mod_random_image*/
#jstSlideShow_1 {border:1px solid #ebece6;position:relative;visibility:hidden;}
.error#jstSlideShow_1 {
	border:2px solid #ebece6;
	color:#f06;
	font:.9em/1.5 tahoma, arial;
	padding:10px;
	position:relative;
	visibility:visible;}
.gallerystatus {color:#ebece6;}
/*mod_random_image*/
.moduletable-random_image {margin:10px 0;padding:0;}
.moduletable-random_image h3 {margin:0;padding:0 10px 8px 0;}
.random_image img {border:0;-moz-box-shadow:0 0 8px #444;-webkit-box-shadow:0 0 8px #444;}
/*mod_custom - Полезная информация*/
.moduletable-addinfo {margin:10px 0;padding:0 0 10px 0;}
.moduletable-addinfo h3 {margin:0;padding:0 10px 8px 0;}
/*mod_whosonline*/
.moduletable_info {margin:10px 0 0 0;padding:0 0 10px 0;}
.moduletable_info h3 {margin:0;padding:0 10px 8px 0;}
.mod_who_online_info {background:url(../images/user_small.png) no-repeat top left;padding:4px 0 0 32px;}
.mod_who_online span {color:#d43014;font-size:1.3em;font-weight:400;}
span.counter {color:#000;font-size:1.3em;font-weight:600;}
ul.users_online {list-style:none;margin:0;padding:0;}
.users_online li {
	background:#f3f4ee;
	border:1px solid #e6e9d4;
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	list-style:none;
	margin:0 10px 0 2px;
	overflow:hidden;
	padding:2px 1px 3px 2px;}
.users_online img {padding:0 5px 0 0;vertical-align:middle;}
/*mod_stats*/
.stats {
	background:url(../images/stat.png) no-repeat left center;
	border:0;
	margin:0 0 0 5px;
	padding:0 5px;}
.stats ul {margin:0;padding:0;}
.stats ul li {
	width:100%;
	overflow:hidden;
	margin:0;
	padding-left:130px;
	list-style:none;}
.stats ul li span.stats-type {width:35%;float:left;}
.stats ul li span.stats-item {width:65%;float:left;}
span.stats-type {font-size:1em;font-style:normal;font-weight:bold;}
/*mod_rssfeed*/
.syndicate {float:left;overflow:hidden;}
.syndicate a.RSS20, .syndicate a.Yandex, .syndicate a.RSS091, .syndicate a.RSS10, .syndicate a.ATOM03, .syndicate a.OPML {
	background:url(../images/rss_small.png) no-repeat top left;
	display:block;
	float:left;
	height:30px;
	width:36px;}
.syndicate_text {text-align:center;}
.syndicate img {display:none;}
/*Помощь*/
.moduletable-help {
	background:url(../images/help.jpg) no-repeat top right;
	margin:10px 0 0 0;
	overflow:hidden;
	padding:0 0 10px 0;}
.moduletable-help h3 {
	font-size:1.6em;
	padding:10px 0 0 0;
	margin:0;
	text-align:left;}
.moduletable-help ul {
	float:left;
	margin:1em 0 0 1em;
	position:relative;
	padding:0;
	width:45%;}
.moduletable-help li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:.5em 0;
	padding-left:1em;
	position:relative;}
/*mod_weblinkspercat*/
.moduletable-links {margin:10px 0 0 0;overflow:hidden;padding:0;}
.moduletable-links h3 {
	font-size:1.6em;
	margin:0;
	padding:0;
	text-align:left;}
.moduletable-links ul {float:left;margin:1em 0 0 1em;padding:0;}
.moduletable-links li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:.5em 0;
	padding-left:1em;
	position:relative;}
/*mod_poll*/
.moduletable-poll {
	background:url(../images/poll.jpg) no-repeat top right;
	margin:10px 0;
	overflow:hidden;
	padding:30px 0 10px 0;}
.moduletable-poll h3 {
	font-size:1.6em;
	padding:0;
	margin:0;
	text-align:left;}
.mpoll-poll legend {
	color:#4b8ec2;
	padding:15px 0 0 0;
	font-size:1.19em;
	font-style:normal;
	font-weight:bold;
	margin:0;}
.mpoll-poll legend+* {margin-top:0;}
a.poll, a.poll:link, a.poll:active {}
a.poll:visited {}
a.poll:hover, a.poll:focus {}
.stableborder-poll {border:0;padding:2px;}
.poll-question-poll {
	font-size:1em;
	line-height:1.5;
	margin:1em 0 1em 1em;
	width:100%;}
.pollbuttons {margin:10px 0 0 0;}
/*mod_latestnews*/
.latestnews {margin:0;padding:0;}
.latestnews li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:0 0 1em 0;
	padding-left:1.2em;
	position:relative;}
.latestnews a {
	text-decoration:none;
	font-style:italic;
	border-bottom:1px dashed #00e;
	font-size:1em;
	width:auto;}
/*mod_mostread*/
.mostread {color:#666;width:auto;}
.mostread ul {margin:0;padding:0;width:100%;}
.mostread li {
	list-style:none;
	margin:0;
	padding:0 0 5px 0;
	width:100%;}
.mostread a {text-decoration:none;font-style:italic;}
span.mostread {border-bottom:1px dashed #00e;font-size:1em;width:auto;}
.mostread .view-bar { 
	display:inline-block; 
	position:relative; 
	height:10px; 
	width:0; 
	margin:4px 0; 
	padding-left:20px; 
	background-color:#0090e7;} 
.mostread .view-count { 
	display:inline-block; 
	position:absolute; 
	right:-20px; 
	top:-7px; 
	width:20px; 
	height:20px; 
	border-width:2px; 
	border-style:solid; 
	border-color:#fff; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	border-radius:20px; 
	text-align:center; 
	line-height:20px; 
	background-color:#0090e7; 
	font-size:.9em; 
	font-weight:bold; 
	color:#fff;}
/*mod_related_items*/
.moduletable-related-items h3 {font-size:1.6em;text-align:left;}
.moduletable-related-items ul {float:left;margin:1em 0 0 1em;padding:0;}
.moduletable-related-items li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:.5em 0;
	padding-left:1em;
	position:relative;}
/*mod_downloadjoostina*/
.moduletable-djmod {
	background:url(../images/download-joostina.jpg) no-repeat top right;
	margin:10px 0 0 0;
	overflow:hidden;
	padding:0 0 10px 0;}
.moduletable-djmod h3 {
	font-size:1.6em;
	padding:15px 0 0 0;
	margin:0;
	text-align:left;}
#djmod {margin:1em auto;padding:0;}
#dmodblue {float:left;height:30px;width:48%;}
#dmodgreen {float:right;height:30px;width:48%;}
.dmodarrow {float:left;width:27px;height:30px;}
.dmodversion a:link, .dmodversion a:visited, .dmodversion a:hover {
	color:#fff;
	display:block;
	font:bold 1.2em/1.7 helvetica, arial, 'lucida grande';
	height:30px;
	margin:0;
	padding:0;
	text-decoration:none;}
.dmodcap {width:7px;height:30px;float:right;}
#dmodblue .dmodarrow {background:url(/modules/mod_downloadjoostina/djmod_arrow_blue.png) no-repeat left top;}
#dmodblue .dmodversion {background:url(/modules/mod_downloadjoostina/djmod_bg_blue.png) repeat-x 0 0;}
#dmodblue .dmodcap {background:url(/modules/mod_downloadjoostina/djmod_rightcap_blue.png) repeat-x 100% 0;}
#dmodgreen .dmodarrow {background:url(/modules/mod_downloadjoostina/djmod_arrow_green.png) no-repeat left top;}
#dmodgreen .dmodversion {background:url(/modules/mod_downloadjoostina/djmod_bg_green.png) repeat-x 0 0;}
#dmodgreen .dmodcap {background:url(/modules/mod_downloadjoostina/djmod_rightcap_green.png) repeat-x 100% 0;}
/*mod_templatechooser*/
.moduletable-tmpl {
	background:url(../images/template.jpg) no-repeat top right;
	margin:10px 0 0 0;
	overflow:hidden;
	padding:0 0 10px 0;}
.moduletable-tmpl h3 {
	font-size:1.6em;
	margin:0 0 1em 0;
	padding:25px 0 0 0;
	text-align:left;}
img#preview {border:0;margin:0;padding:0;}
#templatechooser label {font-size:1.2em;font-style:normal;font-weight:bold;}
/*mod_archive*/
.moduletable-archive h3 {
	font-size:1.6em;
	margin:0;
	padding:25px 0 0 0;
	text-align:left;}
.moduletable-archive ul {float:left;margin:0;padding:0;}
.moduletable-archive li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:1em 0 1em 1em;
	padding-left:1em;
	position:relative;}
/*mod_section*/
.moduletable-section h3 {
	font-size:1.6em;
	margin:0;
	padding:25px 0 0 0;
	text-align:left;}
.moduletable-section ul {float:left;margin:0;padding:0;}
.moduletable-section li {
	background:url(../images/typo/li.gif) no-repeat 0 .8em;
	list-style:none;
	margin:1em 0 1em 1em;
	padding-left:1em;
	position:relative;}
/*mod_newsflash*/
.moduletable-nf {margin:10px 0 0 0;overflow:hidden;padding:0;}
.moduletable-nf h2, .moduletable-nf p {margin:0;padding:0;text-align:left;}
.moduletable-nf h2 {font-size:1em;}
.moduletable-nf p {font-size:.9em;}
/*mod_banners*/
/*mambots*/
/*plugin_jw_ajaxvote*/
.jwajaxvote-inline-rating {
	display:block;
	line-height:25px;
	margin:-2em 0 0 0;
	padding:0;
	vertical-align:middle;}
.jwajaxvote-star-rating {float:left;width:175px;}
.jwajaxvote-star-rating, .jwajaxvote-star-rating a:hover, .jwajaxvote-star-rating .current-rating {background:url(../images/rating/star.gif) left -1000px repeat-x;}
.jwajaxvote-star-rating {
	background-position:left top;
	height:25px;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
	position:relative;
	width:125px;}
.jwajaxvote-star-rating ul {margin:0;padding:0;}
.jwajaxvote-star-rating li {
	background:none;
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	margin:0;
	padding:0;}
.jwajaxvote-star-rating a, .jwajaxvote-star-rating .current-rating {
	border:0;
	cursor:pointer;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000px;}
.jwajaxvote-star-rating a:hover {background-position:left bottom;}
.jwajaxvote-star-rating a.one-star {width:20%;z-index:6;}
.jwajaxvote-star-rating a.two-stars {width:40%;z-index:5;}
.jwajaxvote-star-rating a.three-stars {width:60%;z-index:4;}
.jwajaxvote-star-rating a.four-stars {width:80%;z-index:3;}
.jwajaxvote-star-rating a.five-stars {width:100%;z-index:2;}
.jwajaxvote-star-rating .current-rating {background-position:left center;z-index:1;}
.jwajaxvote-box {
	float:left;
	font-size:1em;
	font-style:italic;
	line-height:1.5;
	margin:5px 0 0 5px;
	padding:0;}
.jwajaxvote-clr {clear:both;}
/*joostinatags*/
.jts {margin:.5em 0;padding:0;}
.tags {margin:0 0 .5em;padding-left:.5em;background:url(../images/typo/tag.png) no-repeat 0 5px; }
.tags li {font-size:.9em;display:inline;}
.tags li a {text-decoration:none;}
.tags li a:hover {color:#fff !important;background:#777;}
/*joostinasocialbot*/
.jsb {margin:1em 0;padding:0;}
.jsbbefore, .jsbafter {
	font-size:1em;
	font-style:italic;
	line-height:1.5;
	text-align:left;}
.jsbbefore {margin:1em 0;padding:0;position:relative;}
.jsbafter {margin:1em 0;padding:0;}
.jsb ul {margin:0;padding:0;}
.jsb li {
	background:none;
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;}
.jsb li:before {content:'';}
.jsb img {border:0;}
.jsb li a{margin:0;padding:0 2px;}
.jsb li:first-child a{margin:0;padding:0 2px 0 0;}
/*js*/
/*jQ AvatarMax*/
.lightbox_trigger {padding:0;margin:0;}
#lightbox {
	position:fixed;
	top:0; 
	left:0;
	width:100%; 
	height:100%; 
	background:url(../images/overlay.png) repeat;
	text-align:center;}
#lightbox a:link, #lightbox a:visited {text-decoration:none;}
#lightbox input[name="close"] {
	font-size:1em;
	height:2em;
	line-height:1;
	padding:0;
	width:70px;
	margin:1em auto;}
#content {}
.content_lightbox_img {text-align:center;margin:1em auto;}
#lightbox img {
	box-shadow:0 0 25px #111;
	-webkit-box-shadow:0 0 25px #111;
	-moz-box-shadow:0 0 25px #111;
	max-width:600px;
	margin:1em auto;}
/*jQ Preloader*/
.preloader {background:url(../images/preloader.gif) center center no-repeat #fff;}
/*error pages*/
/*info*/
#time_gen, #jdebug {font-family:'andale mono', 'lucida console', monospace;text-align:left;}
#time_gen {background:#ebebeb url(../images/information.png) no-repeat left;padding:10px 0 10px 22px;}
#jdebug {background:#ebebeb;padding:10px;}
#jdebug strong {background:url(../images/publish.png) no-repeat left top;padding:0 0 0 22px;}
/*404*/
.page_404 {
	background:#fff;
	color:#333;
	font:bold 1em/2 helvetica, arial, 'lucida grande';
	text-align:center;}
/*503*/
.page_503 {
	background:red;
	color:white;
	font:bold 1em/2 helvetica, arial, 'lucida grande';
	padding:20px;
	text-align:center;}
#joooffline {
	height:100%;
	height:auto !important;
	min-height:100%;
	margin:0 auto;
	padding:auto 0;
	text-align:center;
	width:100%;}
#ctr1 {
	height:100%;
	margin:0 auto;
	padding:auto 0;
	text-align:center;
	width:100%;}
.outline {
	margin:0 auto;
	padding:auto 0;
	text-align:center;
	width:100%;}
.image {
	height:50px;
	margin:0 auto;
	padding:auto 0;
	text-align:center;
	width:50%;}
.offlinemessage, .errormessage, .installwarning, .clear {
	height:auto;
	margin:0 auto;
	padding:auto 0;
	text-align:center;
	width:39%;}
.err {color:#bbb;}
#warning {
	height:100%;
	height:auto !important;
	min-height:100%;
	margin:0 auto;
	text-align:center;
	padding:auto 0;}
.moswarning {
	background:#c00;
	border-bottom:2px solid #600;
	color:#fff;
	font-size:200%;
	margin:0 auto;
	padding:auto 0;
	text-align:center;
	width:100%;}
.moswarning h2 {
	font-family:helvetica, arial, 'lucida grande';
	margin:0 auto;
	padding:auto 0;
	text-align:center;}
#footeroff {
	background:none;
	background-color:#000;
	color:#ccc;
	height:32px;
	height:32px !important;
	margin:0;
	padding:10px 0 0 0;
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;}
/*edit mode*/
table.adminform {
	border:0;
	margin:5px 10px 0 5px;
	padding:0 2px 0 0;
	width:90%;}
.dynamic-tab-pane-control .tab-row .tab {
	background:#e2e2e2;
	border:1px solid white;
	cursor:pointer;
	display:-moz-inline-stack;
	display:inline-block;
	display:inline;
	float:left;
	font-size:1em;
	font-weight:normal;
	line-height:1.5;
	height:16px;
	margin:4px -1px 0 4px;
	overflow:hidden;
	padding:2px 6px 4px 6px;
	position:relative;
	top:0;
	white-space:nowrap;
	width:auto;
	z-index:1;}
#userInfo .dynamic-tab-pane-control .tab-page {
	background:#fcfcfe;
	border-top:2px solid #e7e7e7;
	float:left;
	margin:0 0 0 1px;
	padding:20px;
	position:relative;
	text-align:left;
	top:0;
	z-index:0;}
#toolbar a, #toolbar a img {border:0;}
#mosUserForm textarea, input#mosUserForm {width:90%;}
#mosUserForm table#table_userprofile {padding:10px 0 0 0;}
#mosUserForm table.paramlist td {margin:1em 0;padding:1em;}
#mosUserForm td.pkey {
	font-weight:normal;
	width:35%;
	text-align:left;
	vertical-align:top;}
span.editlinktip{}
iframe #blockrandom {}
#user_avatar {float:left;width:45%;}
#user_info {float:right;width:45%;}
/*edit mode*/
table.cedit_misc, table.cedit_main {margin:5px 0 20px 0;}
@media only screen and (max-device-width:480px) { 
	a[class="mobileshow"], a[class="mobilehide"] { 
		display:block !important;
		color:#fff !important;
		background-color:#aaa;
		border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		padding:0 8px;
		text-decoration:none;
		font-weight:bold;
		font-family:'Helvetica Neue', Helvetica, sans-serif;
		font-size:11px;
		position:absolute;
		top:25px;
		right:10px;
		text-align:center;
		width:40px;}
	div[class="article"] {display:none;}
	a.mobileshow:hover {visibility:hidden;}
	.mobileshow:hover + .article {display:inline !important;}
}